body {
	font-family: 'Oswald', sans-serif;
	padding: 15px;
}

header {
	width: 100%;
	display: inline-block;
}

header h1 {
	font-weight: 700;
	margin:0px;
	font-size: 20px;
}

header h2 {
	font-weight: 400;
	margin:0px;
	margin-top: -4px; 
	font-size: 20px;
	line-height: 21px;
}

header .float_logo {
	float:left;
	width: 50%;
	padding-left: 15px;
}

header .texto_logo {
	display: inline-block;
	font-size: 23px;
	padding: 6px;
}

header .float_menu {
	float:right;
	width: 121px;
}

header .float_menu a:hover {
	color: #a7a9ac;
	cursor: pointer;
}

header .float_menu a {
	text-decoration: none;
	color: #000;
}

header .redes {
	display: block;
    font-size: 16px;
    line-height: 16px;
    padding-left: 15px;
    text-align: center;
    text-decoration: none;
    padding-top: 32px;
}


header .menu h3{
	margin: 0px;
	font-weight: 700;
	line-height: 20px;
    font-size: 16px;
    text-align: right;
    float: left;
    padding-top: 10px;
    text-decoration: none;
}

header .menu {
	border-right: 1px solid;
}

.trabajos {
	width: 100%;
	padding-top: 30px;
}

.trabajos .preview1 {
	margin-bottom: 7px;
	background-image: url("../img/tierra.png");
	width: 33%;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
}

.info_about {
	display: block;
	margin: 0 auto;
	padding-top: 30px;
}

.foto_ferk {
	background-image: url("../img/ferk.jpg");
	height: 180px;
	width: 180px;
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	border-radius: 50%; 
}

.texto {
	width: 50%;
	display: inline-block;
	padding-left: 30px;
}
